<footer>
  
    <!-- NEWSLETTER  -->
  
        <div class="container-fluid newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 newsletter-text">Reste informé des <strong>dernières nouveautés </strong> ! </div>
                    <div class="col-sm-5"> 
                        <form class="form-inline">
                            <div class="col-sm-9">
                              <input class="form-control mr-sm-2 email" type="email" placeholder="Ton email">
                            </div>
                            <div class="col-sm-3 text-center my-2 my-sm-0">
                                <button class="btn btn-outline-success " type="submit"> Ok </button>
                            </div>  
                        </form>
                    </div>
                </div> 
            </div>   
        </div>
  
  
    <!-- FOOTER LINKS -->
  
        <div class="container footer">
            <div class="row links">
                <div class="col-md-3">
                    <span> DEV my Shirts </span>
                    <ul> 
                        <li><a href= "#"> A propos de nous </a></li>
                        <li><a href= "#"> Nos designers </a></li>
                        <li><a href= "#"> Contact </a></li>
                        <li><a href= "#"> Boîte à idées </a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                <span> Services </span>
                    <ul> 
                        <li><a href= "#"> Modes de livraison </a></li>
                        <li><a href= "#"> Modes de paiement </a></li>
                        <li><a href= "#"> Garantie Satisfaction </a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                <span> Liens Utiles </span>
                    <ul> 
                        <li><a href= "#"> T-Shirts Homme</a></li>
                        <li><a href= "#"> T-Shirts Femme</a></li>
                        <li><a href= "#"> Mon compte </a></li>
                        <li><a href= "#"> FAQ </a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                <span> Informations Légales </span>
                    <ul> 
                        <li><a href= "#"> Protection des données </a></li>
                        <li><a href= "#"> CGV </a></li>
                        <li><a href= "#"> Mentions légales </a></li>
                    </ul>
                </div>
            </div>
  
            <div class="row icons">
                <div class="col-md-12">
                  <img src="icones/facebook.svg" alt="Facebook" width="40px">
                  <img src="icones/instagram.svg" alt="Instagram" width="40px">
                </div>
            </div>
  
            <div class="row copyright">
                <div class="col-md-12">DEV-my-Shirts &copy Tous droits réservés. 2018</div>
            </div>
  
        </div>      
      
      
      </footer>