{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div class="container legal-text">

    <!-- FIL D'ARIANE --> 
    <div class="ariane"> Accueil/CGV </div>  
    
    <!-- CGV -->
    <h1> Conditions Générales de <span>Vente</span> </h1>
    <div class="ligne"></div>
    
    <div class="text">
    
        <p>Les présentes conditions de vente sont conclues d'une part par la société DEV MY SHIRTS au capital de 10 000 euros dont le siège social est 
        à LA MADELEINE (59110), immatriculée au registre du commerce et des sociétés de Lille sous le numéro RCS B 419 595 780 99042, code APE 7311Z 
        ci-après dénommée "DEV MY SHIRTS" et d'autre part, par toute personne physique ou morale souhaitant procéder à un achat via le site Internet 
        dev-my-shirt.fr, de "DEV MY SHIRTS " dénommée ci-après " l'acheteur ". <p><br>
        
        <p><strong>Informations société </strong><br>
        Adresse postale : <br>
        DEV MY SHIRTS <br>
        110 AVENUE DE LA REPUBLIQUE <br>
        59110 LA MADELEINE <br>
        FRANCE <br>
        Siret 41959578078042 </p><br>
        
        <p> Numéros d'appel : <br>
        Tél : 03 20 10 10 10 <br>
        du lundi au vendredi de 08h30 à 13h00 et de 13h30 à 17h15. </p><br>
        
        <p><strong> Article 1 : Objet </strong><br>
        Les présentes conditions de vente visent à définir les relations contractuelles entre DEV MY SHIRTS et l'acheteur et les conditions applicables 
        à tout achat effectué par le biais du site marchand de DEV MY SHIRTS, que l'acheteur soit professionnel ou consommateur.
        L'acquisition d'un bien ou d'un service à travers le présent site implique une acceptation sans réserve par l'acheteur des présentes conditions 
        vente.
        Ces conditions de vente prévaudront sur toutes autres conditions générales ou particulières non expressément agréées par DEV MY SHIRTS
        DEV MY SHIRTS se réserve de pouvoir modifier ses conditions de vente à tout moment. Dans ce cas, les conditions applicables seront celles en 
        vigueur à la date de la commande par l'acheteur. </p><br>
        
        <p><strong> Article 2 : Caractéristiques des biens et services proposés </strong> <br>
        Les produits et services offerts sont ceux qui figurent dans le catalogue publié dans le site de DEV MY SHIRTS.
        Ces produits et services sont offerts dans la limite des stocks disponibles.
        Les photographies du catalogue sont les plus fidèles possibles mais ne peuvent assurer une similitude parfaite avec le produit, notamment en 
        ce qui concerne les couleurs, de plus les produits peuvent présenter des variations de teinte au sein d'une même couleur. </p><br>
        
        <p><strong> Article 3 : Tarifs </strong><br>
        DEV MY SHIRTS se réserve le droit de modifier ses prix à tout moment, étant toutefois entendu que le prix figurant au catalogue le jour de la 
        commande sera le seul applicable à l'acheteur.
        Les prix indiqués ne comprennent pas les frais de transport et de livraison pour autant qu'elles aient lieu dans les zones géographiques prévues 
        ci-après.
        Pour toute commande à destination des Dom / Tom et des pays hors de l'union européenne, l'éventualité d'une taxe à régler lors du dédouanement 
        n'est pas à exclure. Pour connaître le taux en vigueur, nous vous invitons à vous renseigner auprès de votre douane.
        Les prix sont fermes et définitifs lors de la validation de la commande. L'acheteur doit impérativement vérifier que le prix total de la 
        commande correspond à son attente, dans le cas contraire, l'acheteur ne doit pas effectuer sa commande. Aucune remise ou avoir lié au transport, 
        à la TVA, aux frais de douane ou au prix des articles ne sera effectué après validation de la commande. </p><br>
        
        <p><strong> Article 4 : Aire géographique </strong><br>
        La vente en ligne des produits et services présentés dans le site est réservée aux acheteurs qui résident en France et dans la Communauté 
        Européenne.</p><br>
        
        <p><strong> Article 5 : Commandes </strong><br>
        L'acheteur, qui souhaite acheter un produit ou un service doit obligatoirement : <br>
        – Remplir le formulaire en ligne en donnant toutes les références des produits ou services choisis <br>
        – Valider son panier pour le transformer en commande <br>
        – Remplir la fiche d'identification sur laquelle il indiquera toutes les coordonnées demandées <br>
        – Valider sa commande après l'avoir vérifiée <br>
        – Effectuer le paiement dans les conditions prévues <br>
        La confirmation de la commande entraîne acceptation des présentes conditions de vente, la reconnaissance d'en avoir parfaite connaissance 
        et la renonciation à se prévaloir de ses propres conditions d'achat ou d'autres conditions.
        L'ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction. La confirmation vaudra signature et 
        acceptation des opérations effectuées. <br>
        Le vendeur communiquera par courrier électronique une confirmation de la commande enregistrée. <br>
        L'acheteur autorise DEV MY SHIRTS à utiliser ses données personnelles (nom, prénom, adresse de livraison, numéro de téléphone, adresse mail) 
        et à fournir ses coordonnées de livraison à nos partenaires de transport afin de procéder à la livraison de la commande. </p> <br>
        
        <p><strong> Article 6 : Retour de marchandise </strong><br>
        Toute demande de retour doit être effectuée depuis votre espace client dans la rubrique "Mes commandes". <br>
        Dans le cas ou un retour de marchandise est accordé un numéro de retour et la procédure de retour vous est fournie. 
        Tout colis retourné sans numéro de retour sera systématiquement refusé. L'autorisation de retour est à coller sur le colis. 
        Ceci est valable uniquement pour des articles sans marquages, les articles transformés (broderie, sérigraphie, flex, transfert ...) ne 
        seront pas repris. Toute demande de retour doit être faite dans un maximum de 14 jours calendaires (date de réception du colis), après ce délai, nous ne pourrons prendre en compte votre demande.
        Conformément à l'Article L121-20, les acheteurs, personnes physiques non professionnelles, bénéficient d'un délai de rétractation de 14 jours 
        calendaires à compter de la réception de leur commande pour faire retour du produit au vendeur pour remboursement sans pénalité, à l'exception 
        des frais de retour. Conformément à l'Article L121-20-2, le droit de rétractation ne peut être exercé sur des biens confectionnés selon les 
        spécifications du consommateur. Pour toutes commandes dont le volume ne correspond pas à l’usage normal d’un particulier (plus de 10 articles),
        les conditions de retour applicables aux professionnels seront utilisées. </p><br>
        
        
        <p><strong> Article 7 : Respect des droits de propriété intellectuelle </strong><br>
        Dans le cas d'une commande d'articles à marquer, l'acheteur assure à DEV MY SHIRTS SAS que les visuels et textes utilisés sont exempts de 
        droits de tiers.
        En cas de réclamation pour la violation de droits d'un tiers, l'acheteur dégagera DEV MY SHIRTS SAS de toute responsabilité. l'acheteur est 
        entièrement responsable et devra rembourser DEV MY SHIRTS SAS de tous les dommages engagés subits. </p><br>
        
        <p><strong> Article 8 : Rétractation </strong><br>
        Les acheteurs, personnes physiques non professionnelles, bénéficient d'un délai de rétractation de 14 jours à compter de la livraison de 
        leur commande pour faire retour du produit au vendeur pour un remboursement sans pénalité, à l'exception des frais de retour, pour les clients 
        professionnels 15% du montant pour frais de gestion seront déduits.
        Pour obtenir un numéro de retour veuillez nous contacter par téléphone, email ou par courrier. Tous colis retourné sans numéro de retour (RMA) 
        inscrit sur le colis sera systématiquement refusé.
        Les produits faisant l'objet d'un marquage demandé par l'acheteur ne sont pas concernés par le délai de retractation et ne peuvent donc pas 
        être repris. </p><br>
        
        <p><strong> Article 9 : Réclamation et Service Après-vente </strong><br>
        Les réclamations concernant une livraison doivent être effectuées depuis votre espace client dans la rubrique "Mes commandes" dans les 14 jours 
        uivant la date de réception du colis. </p><br>
        
        <p><strong> Article 10 : Modalités de paiement </strong><br>
        Le paiement par carte bancaire, chèque, virement, PayPal est exigible à la commande. Si les paiements sont effectués par carte bancaire; ils 
        seront réalisés par le biais d'un système sécurisé qui utilise le protocole SSL (Secure Socket Layer) de telle sorte que les informations 
        transmises sont cryptées par un logiciel et qu'aucun tiers ne peut en prendre connaissance au cours du transport sur le réseau.
        Une facture sera adressée pour toute commande. </p><br>
        
        <p><strong> Article 11 : Livraisons </strong><br>
        Les livraisons sont faites à l'adresse indiquée dans le bon de commande qui ne peut être que dans la zone géographique convenue.
        En cas de dommage pendant le transport, la protestation motivée doit être formulée auprès du transporteur dans un délai de trois jours à 
        compter de la livraison.
        Les délais de livraison ne sont donnés qu'à titre indicatif; si ceux-ci dépassent trente jours à compter de la commande, le contrat de vente 
        pourra être résilié et l'acheteur remboursé. <br>
        
        Toute commande d'articles non réclamée par le client dans un délai de 1 mois après sa mise à disposition par le vendeur 
        (date d'expédition), sera considérée comme abandonnée et sera annulée par le vendeur; 15% du montant pour frais de gestion seront déduits.</p><br>
        
        
        <p><strong> Article 12 : Responsabilité </strong><br>
        La responsabilité totale et cumulée de DEV MY SHIRTS SAS, quelle qu’en soit la cause, est limitée au montant payé par l'acheteur à 
        DEV MY SHIRTS SAS au titre de la commande concernée. En aucun cas, n’ouvriront droit à réparation de la part de DEV MY SHIRTS SAS les 
        préjudices indirects et/ou immatériels ou moraux, à savoir notamment les préjudices financiers ou commerciaux tels que perte de bénéfice , 
        perte de commandes, perte d’exploitation, perte de données, manque à gagner, atteinte à l’image, interruption de service, ainsi que les 
        préjudices de même nature résultant d’une action en réclamation dirigée contre DEV MY SHIRTS SAS par l'acheteur du fait des dommages subis 
        par un tiers. <br>
        La responsabilité de DEV MY SHIRTS SAS ne saurait en outre être engagée en cas de survenance d’un quelconque dommage aux données du client, 
        ce dernier devant procéder à ses frais à la sauvegarde de celles-ci. Ces données ne seront en aucun cas réimplantées par DEV MY SHIRTS SAS 
        sur les matériels en cas de perte. En tout état de cause, DEV MY SHIRTS SAS est dégagée de toute responsabilité et ne saurait être tenue à une 
        indemnité dans les cas de force majeure. </p><br>
        
        <p><strong> Article 13 : Propriété intellectuelle </strong><br>
        Tous les éléments du site Internet sont et restent la propriété intellectuelle et exclusive de DEV MY SHIRTS. Personne n'est autorisé à 
        reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu'ils soient logiciels, 
        visuels ou sonores.
        Tout lien simple ou par hypertexte est strictement interdit sans un accord écrit exprès de DEV MY SHIRTS. </p><br>
        
        <p><strong> Article 14 : Données à caractère personnel </strong><br>
        Conformément à la loi relative à l'informatique, aux fichiers et aux libertés du 6 janvier 1978, les informations à caractère nominatif 
        relatives aux acheteurs pourront faire l'objet d'un traitement automatisé.
        DEV MY SHIRTS se réserve le droit de collecter des informations sur les acheteurs y compris en utilisant des cookies, et, s'il le souhaite, 
        de transmettre à des partenaires commerciaux les informations collectées.
        Les acheteurs peuvent s'opposer à la divulgation de leurs coordonnées en le signalant à DEV MY SHIRTS. De même, les utilisateurs disposent d'un 
        droit d'accès et de rectification des données les concernant, conformément à la loi du 6 janvier 1978.
        L'acheteur autorise DEV MY SHIRTS à utiliser ses données personnelles (nom, prénom, adresse de livraison, numéro de téléphone, adresse mail) 
        et à fournir ses coordonnés de livraison à nos partenaires de transport afin de procéder à la livraison de la commande. </p><br>
        
        <p><strong> Article 15 : Archivage - Preuve </strong><br>
        DEV MY SHIRTS archivera les bons de commandes et les factures sur un support fiable et durable constituant une copie fidèle conformément aux 
        dispositions de l'article 1348 du Code civil.
        Les registres informatisés de DEV MY SHIRTS seront considérés par les parties comme preuve des communications, commandes, paiements et 
        transactions intervenus entre les parties. </p><br>
        
        <p><strong> Article 16 : Règlement des litiges </strong><br>
        Les présentes conditions de vente en ligne sont soumises à la loi française.
        En cas de litige, compétence est attribuée aux tribunaux compétents de Caen nonobstant pluralité de défendeurs ou appel en garantie. </p><br>
        
        <p><strong> Article 17 : Informations concernant les cookies </strong><br>
        Qu’est ce que les cookies ?<br>
        Un cookie est un fichier texte déposé sur le disque dur d’un internaute par le serveur du site qu'il visite. Certains cookies sont nécessaires 
        pour accéder aux fonctionnalités d'un site. Il contient plusieurs données : le nom du serveur qui l'a déposé, un identifiant sous forme de 
        numéro unique, éventuellement une date d'expiration. </p>
        
        Pourquoi dev-my-shirt.fr utilise des cookies ?<br>
        dev-my-shirt.fr utilise des cookies pour vous fournir un service adapté à votre navigation, ils vous permettent par exemple de ne pas ressaisir 
        ertaines informations. Les cookies sont également utilisés pour optimiser la performance du site et ainsi vous aide à trouver un article 
        spécifique plus facilement. </p>
        
    </div>
</div>
    
{% endblock %}
