{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}


<div class="container legal-text">

    <!-- FIL D'ARIANE --> 
    <div class="ariane"> Accueil/FAQ </div>  
    
    <!-- FAQ -->
    <h1> Questions <span>Fréquentes</span></h1>
    <div class="ligne"></div>
    
    <div class="text">
    
        <h3> Comment trouver ma taille ? </h3>
    
        Vous trouverez un guide des tailles sur notre site. <br>
        Veillez à bien prendre les mesures afin de commander la taille qui vous conviendra. <br>
    
    
        <hr>
        <h3> Combien de temps met ma commande pour arriver chez moi ? </h3>
    
        Livraison en point relais: 2-3 jours ouvrables après réception du paiement. <br>
    
        Livraison standard: <br> 5-10 jours ouvrables après réception du paiement. <br>
    
        Livraison Express: <br> les commandes du lundi au jeudi seront livrées le surlendemain, et ainsi de suite, les commandes produites le lundi 
        seront livrées le mercredi , les commandes produites le mardi seront livrées le jeudi... etc. <br>
        Les commandes du vendredi au dimanche seront livrées le mardi suivant. <br>
    
        Livraison par DHL / Poste <br>
        Vous recevrez bien entendu une confirmation d'expédition avec un numéro de suivi par e-mail dès que notre production aura créé l'étiquette 
        d'expédition. Le suivi est possible dès que DHL a scanné votre colis dans le centre de frêt. <br>
    
    
        <hr>
        <h3> Où puis-je trouver mon numéro de suivi ou mon numéro d'envoi? </h3>
    
        Vous recevrez le numéro de suivi dans la confirmation d'expédition.
    
    
        <hr>
        <h3> Comment puis-je faire une réclamation à ma commande? </h3>
    
        Contactez notre service clients pour toute réclamation au 03.20.10.10.10(du lundi au vendredi de 9h00 à 13h00 sauf jours fériés,
        ou en remplissant notre formulaire de contact. <br>
    
        Dans certains cas il est également utile de laver le produit une première fois. <br>
        Une photo nous aide à garder nos contrôles de qualité au meilleur niveau. <br>
        Informez nous directement de la nouvelle taille souhaitée, en consultant notre tableau des mensurations disponibles pour chaque produit. <br><br>
    
        Voici comment éviter une réclamation: <br>
    
          >  Consultez notre tableau des mensurations pour chaque produit avant de choisir la taille. <br>
          >  Vérifiez la confirmation de votre commande (adresse de facturation et de livraison, l’article, la quantité et la taille, etc). <br>
          >  Pour les grosses commandes, nous vous recommandons de réaliser un test d’impression. Nous vous en remboursons volontiers le montant 
          >  si vous confirmez votre commande par la suite. <br>
          >  Prévoyez suffisamment de temps pour la production et la livraison. Nous produisons VOTRE produit désiré, nous ne le saisissons pas 
             simplement sur l'étagère. <br>
          >  Si vous êtes pressé, vous pouvez utiliser notre service express.br
    
    
        <hr>
        <h3> Comment puis-je annuler ma commande? </h3>
    
        Votre commande peut être annulée dans  la corbeille rouge sur le côté droit de votre commande, si nous n'avons pas encore enregistré le paiement.  
        Si la corbeille rouge n'est plus visible, votre commande ne peut plus être modifiée et annulée.
    
    
        <hr>
        <h3> Comment puis-je modifier ma commande? </h3>
    
        Un changement ultérieur à votre commande après confirmation de celui-ci n'est donc pas possible. <br>
        Merci de contacter notre service clients. Nous allons bien sûr essayer de vous aider, afin que vous puissiez obtenir votre produit désiré. <br>
    
        Service clients: 03.20.10.10.10 (du lundi au vendredi de 9h00 à 13h00 sauf jours fériés) E-Mail: Formulaire de contact 
    
    
        <hr>
        <h3> Quelles sont les possibilités de paiement ? </h3>
    
        Chez DEV-my-shirt vous pouvez confortablement et en toute sécurité payer par: <br>
    
           > Paypal <br>
           > Carte de crédit <br>
    
        La commande sera produite après réception du paiement. La facture en format PDF sera envoyée par e-mail à la fin de la production. <br>
    
        En cas de problème avec le paiement, vous pouvez nous contacter au 03.20.10.10.10 (du lundi au vendredi de 9h00 à 13h00 sauf jours fériés)
        ou en remplissant notre formulaire de contact.
    
    
        <hr>
        <h3> Comment supprimer mon compte client ? </h3>
    
        Pour supprimer votre compte client, envoyez-nous un e-mail via le formulaire de contact.
    
    
        <hr>
        <h3> Une confirmation de la commande m'est-elle envoyée? </h3>
    
        La confirmation de votre commande est automatiquement envoyée à l'adresse e-mail fournie, après que la commande a été complétée. <br>
        Veuillez également vérifier votre dossier spam.
    
    </div>
</div>    
    
{% endblock %}
