{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div class="container legal-text">

    <!-- FIL D'ARIANE --> 
    <div class="ariane"> Accueil/Protection des données </div>  
    
    <!-- RGPG -->
    <h1> Protection des <span>données</span> </h1>
    <div class="ligne"></div>
    
    <div class="text">
    
        DEV MY SHIRTS attache la plus grande importance à la protection et confidentialité de la vie privée de ses clients. <br>
        DEV MY SHIRTS s'engage ainsi à traiter vos données personnelles dans le respect des lois et réglementations applicables. <br><br>
        
        
        <h3>1. Utilisation de vos données personnelles</h3>
        
        Nous sommes susceptibles de recueillir et de traiter les données que vous portez à notre connaissance : <br>
        
        >  Données de livraison, données de facturation : nom, prénom, adresse, courriel, numéro de téléphone, etc. <br>
        >  Données de commande : produits achetés, visuels à marquer, quantités, tailles, couleurs, etc. <br>
        >  Données de suivi client : demande de service après-vente, correspondance, etc. <br>
        
        <hr>
        <h3> 2. Comment utilisons-nous les données que nous recueillons ? </h3>
        
        DEV MY SHIRTS utilise vos données pour les besoins de l’exécution de la prestation que vous avez commandée. <br>
        Ces données sont conservées pendant la durée nécessaire à l’exécution de la prestation et/ou pendant la durée légale. <br> 
        Sans ces données, DEV MY SHIRTS ne pourrait pas exécuter les prestations que vous avez commandées. <br>
        
        <hr>
        <h3> 3. Droit d’accès, de rectification et d’opposition </h3>
        
        En application de la loi « information et libertés » du 6 janvier 1978 et en application du règlement européen du 27 avril 2016, 
        vous disposez d’un droit d’accès, de rectification, de portabilité et d’effacement des données. <br>
        Pour l’exercice de ces droits, il suffit de nous adresser un courrier à notre siège social, accompagné d’une pièce d’identité valide. <br>
        
        <hr>
        <h3> 4. Protection et sécurisation des données </h3>
        
        DEV MY SHIRTS met tout en oeuvre pour prendre les mesures appropriées pour assurer la sécurité et la confidentialité de vos données personnelles. <br>
        Vos données personnelles peuvent être traitées par des sous-traitants et partenaires de DEV MY SHIRTS, pour les besoins de la gestion 
        et de l’exécution des prestations que vous avez demandées. <br>
        Vos données peuvent également être transférées à des prestataires de services tiers qui fournissent des services ou une assistance et 
        des conseils à DEV MY SHIRTS. Les sous-traitants et partenaires de DEV MY SHIRTS peuvent être situés en dehors de l’Union européenne. <br>
        DEV MY SHIRTS s’assurera par contrat que de tels sous-traitants et partenaires respectent les clauses contractuelles types 
        de la Commission européenne. <br>
        
        <hr>
        <h3> 5. Évolution de notre politique de confidentialité </h3>
        
        Lorsque cela est nécessaire, nous pouvons être amenés à faire évoluer la présente politique de confidentialité. <br><br>
        
        Merci d'avoir lu cette déclaration jusqu'à la fin !
        
    </div>    
</div>

{% endblock %}
