// -------- IMPORTS PARTIALS -------------- //

@import "./partials/colors.scss";
@import "./partials/mixins.scss";
@import "./partials/fonts.scss";
@import "./partials/header.scss";
@import "./partials/footer.scss";

// -------- GENERIQUES ----------- //

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    box-sizing: border-box;
    background-color: $white;

    // ---- IMPORTS PAGES ---- //

    @import "./pages/home.scss";
    @import "./pages/contact.scss";
    @import "./pages/legals.scss";

}