{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }} | {{ parent() }} {% endblock %}

{% block body %}

<div class="container contact">

    <!-- FIL D'ARIANE --> 
    <div class="ariane"> Accueil/Contact </div>  

    <!-- Formulaire & Map -->
    <h1> NOUS <span>CONTACTER</span></h1>
    <div class="ligne"></div>

 <!-- ////////////////// FORMULAIRE de CONTACT /////////////////////////// -->

    <div class="row">
        <div class="col-md-7"> <!-- formulaire -->
            <div class= "champs">Les champs précédés d'une * sont <span>obligatoires</span></div>

            <form method= "POST">
                <div class="col-auto">
                      
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> * Nom :</div>
                      </div>
                      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom">
                    </div>

                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> * Prénom :</div>
                      </div>
                      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prénom">
                    </div>

                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> * Email :</div>
                      </div>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>

                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> Tel :</div>
                      </div>
                      <input type="text" class="form-control" id="phone" name="phone" placeholder="Téléphone">
                    </div>

                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <div class="input-group-text"> * Sujet :</div>
                      </div>
                      <select class="form-control" id="subject" name="subject">
                        <option> Une idée de motif à soumettre </option>
                        <option> Un simple message </option>
                      </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"> * Ton Message :</label>
                        <textarea class="form-control" rows="5" id="message" name="message" placeholder="Ton messsage, ici..."></textarea>
                    </div>

                </div> <!-- fin col-auto -->

                <button type="button" class="btn">Envoyer</button>

            </form>
        </div> <!-- fin col-md-7-->


    <!-- ////////////////// GOOGLE MAP /////////////////////////// -->

        <div class="col-md-5"> 
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2529.9822615576736!2d3.073785515738492!3d50.6460205795028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c32a0cd483c20f%3A0x5151a22a084d3ded!2s110+Avenue+de+la+R%C3%A9publique%2C+59110+La+Madeleine!5e0!3m2!1sfr!2sfr!4v1543161040050" 
                        height="400" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="address"><strong>DEV My Shirts </strong><br><br>
                                110 avenue de la République <br>
                                59110 LA MADELEINE <br>
                                Tél : 03.20.10.10.10 <br>
                                <span>dev-my-shirt@gmail.com</span> 
            </div>
        </div> <!-- fin col-md-5-->


    </div> <!-- fin div raw-->

</div> <!-- fin du container contact-->

{% endblock %}
